/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

button {
    color: black;
    cursor: grab;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    text-decoration: none;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    border-color: orange;   
}
button:hover {
    background-color: orange;
}

section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Section   */

/* start of header section */

h1 {
    color: yellow;
}
header {
    height: 90px;
    padding: 15%;
    background-color: yellow;
    width: initial;
    text-align: center;
    background-image: url("Lisah house.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
header a {
    text-transform: uppercase;
    margin-top: 10px;
    background-repeat: no-repeat;
    top: -50px;
    width: 400px;
}
.navbar {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
    padding-top: .6%;
    text-decoration: wavy;
    font-weight: 500;
}
h1 {
    padding-bottom: 300px;
}
ul {
    padding-bottom: 20px;
}

li {
    display: inline;
    border-radius: 3px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.features {
    display: grid;
    grid-row: 4,1;
}

img {
    height: 200px;
    width: 250px;
}


.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 50px;
}
.features figure {
        margin: auto;
        text-align: center;
        width:200px;
    }
    .features figure img {
        border-radius: 20%;
        width: 200px;
    }

/* location section styling */
.location .location-content{
    display: grid;
    grid-template-columns: 2,1;
    align-items: center;
    justify-content: space-between;
    margin-top: 3em;
}

.location-title {
    text-align: center;
    color: orange;
}

.text {
    text-align: center;
}

@media (max-width: 600px) {
    .location .location-content {
        font-size: 12px;
        margin-top: 40px;
        
    
        align-items: center;
        justify-content: space-between;
    }
    .location .location-content .left img{
        height: 400px;
        width: 500px;
    }
    .max-width {
        padding-bottom: 300px;
    }
        
}

.location .title::after{
    content: "Where To Find Us";
}
.location .location-content .left{
    width: 100%;
}
.location .location-content .left img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 40px;
}
.location .location-content .right{
    width: 100%;
}
.location .location-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.location .location-content .right .text span{
    color: rgb(29, 226, 193);
}
.location .location-content .right p{
    text-align: justify;
}
.location .location-content .right a{
    display: inline-block;
    background: rgb(29, 226, 193);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(29, 226, 193);
    transition: all 0.3s ease;
}
.location .location-content .right a:hover{
    color: rgb(29, 226, 193);
    background: none;
}
/* End of location styling */















/* contact section styling */
.contact .contact-content{
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .contact .contact-content {
        display: inline-block;
        justify-content: space-around;
        text-align: center;
        width: fit-content;   
    }
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: rgb(29, 226, 193);
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: orange;
  border: 2px solid orange;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: black;
  background: none;
}
/* end of contact section */














/* Start of Footer */

Footer {
    background: rgb(0, 0, 0);
    color: aqua;
    font-size: 13px;
    padding: 20px 20px;
    text-align: center;
}












